[Desktop Entry]
Name=Topgrade Updater
Comment=Run Topgrade to update packages and tools
Exec=/usr/bin/topgrade-updater
Icon=system-software-update
Terminal=true
Type=Application
Categories=System;Utility;
Keywords=update;upgrade;topgrade;
